<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Hello [[${#httpServletRequest.remoteUser}]]!</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
    	<link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
    	<script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    	<script type = "text/javascript" src = "https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    	<meta name="_csrf" content="${_csrf.token}"/>
    	<meta name="_csrf_header" content="${_csrf.headerName}"/>
    </head>
    <body>
    	<div class="container">
        	<a href="/upload">Upload New File</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/logout">Sign Out</a>
        	<div id="container">Loading, please wait!</div>
        	<div id="dialog" title="Share with Dialog!"></div>
        </div>
        <script type="text/javascript">
	        $(document).ready(function() {
	        	$.ajax('/api/v1/fileStorage/all', {
	        		complete: function(jqXHR, status) {
	        			if(status!= 'success') {
	        				alert('Somethings went WRONG!');
	        			}
	        			var container = $('#container');
	        			if(jqXHR.responseJSON.length == 0) {
	        				container.html('<h1>Empty at the moment! <a href="/upload">Upload New File</a> firstly</h1>');
	        				
	        				return;
	        			}
	        			var content = "<table><tr><th>ID</th><th>NAME</th><th>&nbsp;</th></tr>";
	        			jqXHR.responseJSON.forEach(function(item) {
	        				content += "<tr>"+
	        								"<td>"+item.id+"</td>" +
	        								"<td><a href='/api/v1/fileStorage/downloadFile/"+item.id+"'>" +item.name+"</a></td>" +
	        								"<td>" + 
	        									"<div>" + (!item.shared ? "<a href='javascript:shareWith("+item.id+")'>shareWith</a>" : "&nbsp;") + "</div>&nbsp;" +
	        									"<div><a href='javascript:showShared("+item.id+")'>already shared with: </a></div>" +
	        								"</td>" +
	        							"</tr>";
	        			});
	        			content +="</table>";
	        			container.html(content);
	        		},
	        		contentType: 'application/json',
	        		
	        	});
	        });
	        
	        function shareWith(fileId) {
	        	$.ajax('/api/v1/userManagement/all', {
	        		complete: function(jqXHR, status) {
	        			if(status!= 'success') {
	        				alert('Somethings went WRONG!');
	        			}
	        			var container = $('#dialog');
	        			if(jqXHR.responseJSON.length == 0) {
	        				container.html('<h1>Haven\'t any registered users at the moment!</h1>');
	        			} else {
	        				var content = "<table><tr><th>NAME</th><th>&nbsp;</th></tr>";
	        				jqXHR.responseJSON.forEach(function(item) {
	        					content += "<tr><td>"+item.name+"</td><td><a href='javascript:share("+item.id+", " + fileId + ")'>share</a></td></tr>";
	        				});
	        				content +="</table>";
	        				container.html(content);
	        			}
	        			container.dialog();
	        		},
	        		contentType: 'application/json',
	        	});
	        }
	        
	         function showShared(fileId) {
	        	$.ajax('/api/v1/userManagement/getShared/' + fileId, {
	        		complete: function(jqXHR, status) {
	        			if(status!= 'success') {
	        				alert('Somethings went WRONG!');
	        			}
	        			var container = $('#dialog');
	        			if(jqXHR.responseJSON.length == 0) {
	        				container.html('<h1>This file hasn\'t been shared at the moment!</h1>');
	        			} else {
	        				var content = "<table><tr><th>NAME</th><th>&nbsp;</th></tr>";
	        				jqXHR.responseJSON.forEach(function(item) {
	        					content += "<tr><td>"+item.name+"</td><td><a href='javascript:removeShare("+item.id+", " + fileId + ")'>remove share</a></td></tr>";
	        				});
	        				content +="</table>";
	        				container.html(content);
	        			}
	        			container.dialog();
	        		},
	        		contentType: 'application/json',
	        	});
	        }
	        
	        function share(userId, fileId) {
	        	$.ajax('/api/v1/userManagement/shareFile/' + userId + '/' + fileId, {
	        		complete: function(jqXHR, status) {
	        			if(status!= 'success') {
	        				alert('Somethings went WRONG!');
	        			}
	        			$("#dialog").dialog( "close" );
	        		},
	        		contentType: 'application/json',
	        		method: 'POST',
	        	});
	        }
	        
	         function removeShare(userId, fileId) {
	        	$.ajax('/api/v1/userManagement/removeShareFile/' + userId + '/' + fileId, {
	        		complete: function(jqXHR, status) {
	        			if(status!= 'success') {
	        				alert('Somethings went WRONG!');
	        			}
	        			$("#dialog").dialog( "close" );
	        		},
	        		contentType: 'application/json',
	        		method: 'POST',
	        	});
	        }
      </script>
      <style>
      	tr, td, th {
  			border: 0 solid #581D74;
  			border-bottom-width: 1px;
  			padding: 15px;
		}
      </style>
    </body>
</html>